<%- include('partials/header.ejs') -%>
<!--<%- include('partials/navbar.ejs') -%>-->
<div class="container">
    <style>
        html{
            background-color: black;
            color: cornsilk;
            overflow-y: hidden;
        }
        body{
            background-color: black;
            color: cornsilk;
        }
        .spacer{
            margin-top:5%;
        }
    </style>
        <!--<h1 class="mb-4">Poggy!</h1>
        <div class="row">
            <div class="posts col col-sm-12">
                <% articles.forEach(articles =>{ %>
                <a href="/articles/<%= articles.slug %>" style="text-decoration: none; color: black;">
                <div class="card mt-4 mx-2">
                    <img class="preview-thumb" src="<%= articles.img %>" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title"><%= articles.title %></h4>
                        <div class="card-subtitle text-muted mb-2">
                            <%= articles.createdAt.toLocaleDateString() %>
                        </div>
                        <div class="card-text mb-2">
                            <%= articles.description %>
                        </div>
                    </div>
                </div>
                </a>
                <% }) %>
        </div>
        </div>-->
        <div class="spacer"></div>
        <div class="text-center mt-4">
            <h3>This website has been taken down in the memory of Byron "Reckful" Bernstein</h3>
            <h5>It will stay down for the next 24 hours.</h5>
            &mdash; Asthriona<br>
            <a href="https://twitter.com/i/events/1278760783522881536"><img src="https://cdn.asthriona.com/JzoptO0g" alt=""></a>
          </div>
        </div>
        <!--<%- include('partials/footer.ejs') -%>-->