<%- include('partials/header.ejs') -%>
<%- include('partials/navbar.ejs') -%>
<div class="container">
        <h1 class="mb-4">Poggy!</h1>
        <div class="row">
            <div class="posts col col-sm-12">
                <% articles.forEach(articles =>{ %>
                <a href="articles/<%= articles.slug %>" style="text-decoration: none; color: black;">
                <div class="card mt-4 mx-2">
                    <img class="preview-thumb" src="<%= articles.img %>" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title"><%= articles.title %></h4>
                        <div class="card-subtitle text-muted mb-2">
                            <%= articles.createdAt.toLocaleDateString() %>
                        </div>
                        <div class="card-text mb-2">
                            <%= articles.description %>
                        </div>
                    </div>
                </div>
                </a>
                <% }) %>
        </div>
        </div>
        </div>
        <%- include('partials/footer.ejs') -%>